button {
  background-color: #2d567c !important;
}
a {
  color: #2d567c !important;
}
svg {
  color: #2d567c !important;
}

h1 {
  color: #2d567c !important;
}

#email-address::placeholder {
  color: white;
}
